@import "../../../DefaultColors/defaultColors.scss";

.cinemas{
    max-width: 80%;
    margin: 0 auto;
    text-align: center;

       
    .cinemas-content{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin: 20px 0;
        align-items: center;

        .cinema-btn{
            margin-left: 20px;
            margin-top: 5px;
            width: 70px;
            height: 30px;
            cursor: pointer;
            border: none;
            box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
            transition: 0.2s ease;
    
            &:hover{
                background-color: $main-color;
            }
        }
    }
}
 
@media (max-width: 600px) {
    .cinemas{
        width: 90%;
        
        .cinemas-content{
            font-size: 14px;

            .cinema-btn{
                width: 60px;
                height: 25px;
                margin-left: 10px;
            }
        }
    }
}

@media (max-width: 340px) {
    .cinemas{
        width: 100%;

        .cinemas-content{
            font-size: 12px;

            .cinema-btn{
                width: 50px;
                height: 20px;
                margin-left: 10px;
            }
        }
    }
}