.btn-calendar{
    width: 45px;
    height: 45px;
    border-radius: 15px;
    position: absolute;
    top: 13px;
    left: 15px;
    background: no-repeat center/80% url(../calendar.png);
    background-color: #fff;

    &:hover{
        cursor: pointer;
    }
}

@media (max-width: 355px) {
    .btn-calendar{
        width: 30px;
        height: 30px;
        background-image: url(../calendar2.png);
        background-size: 75%;
        top: 3vh;
        left: 2vw;
    }
}