.tickets__wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}
.tickets__content{
    width: 85%;
}

hr{
    margin: 10px 0;
}

.tickets__img{
    cursor: pointer;
}