.movie-info{
    max-width: 80%;
    margin: 0 auto;
    margin-bottom: 3%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.movie-info__img{
    cursor: default;
}
.movie-info__text-content{
    display: flex;
    flex-wrap: wrap;
}

.movie-info__text{
    margin: 20px 0;
}

.movie-info__name{
    text-align: center;
    margin-bottom: 30px;
}

.value{
    text-align: end;
}

.content{
    margin: 0 40px;
}

@media (max-width: 620px) {
    .content{
        margin: 0;
    }
}

@media (max-width: 420px) {
    .content{
        font-size: 12px;
    }
}

@media (max-width: 319px) {
    .content{
        font-size: 10px;
    }
}