.cinemas{
    max-width: 80%;
    margin: 0 auto;
}
 
.cinemas-content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
    align-items: center;
}

.cinema-btn{
    margin-left: 20px;
    width: 70px;
    height: 30px;
    cursor: pointer;
    border: none;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    transition: 0.2s ease;
}

.cinema-btn:hover{
    background-color: #FFF27E;
}