.calendar-content header {
    display: flex;
    margin: 8px 0;
}

.calendar-content header button,
.calendar-content header select {
    margin: 0 4px;
}

.calendar-content table {
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0;
}

.calendar-content th {
    vertical-align: middle;
    text-align: center;
    height: 36px;
}

.day {
    padding: 4px 8px;
    vertical-align: middle;
    text-align: center;
    border: 2px solid transparent;
}

.day:hover {
    background-color: #eaeaea;
    cursor: pointer;
}

.selected {
    border: 2px solid dodgerblue;
}

.today {
    background-color: dodgerblue;
    color: white;
}

.today:hover {
    background-color: #0081ff;
}

.today.selected {
    border: 2px solid lightgray;
}