.card-day{
    width: 90px;
    text-align: center;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    transition: 0.2s ease;
    cursor: pointer;
}

.card-day:hover{
    background-color: #FFF27E;
}

.card-day__component{
    margin: 9px 0;
}

.date{
    font-size: 30px;
}